/*
##################################################################################################
##                V    E    C    T    O    R    F    A    B    L    A    B    O                 ##
##################################################################################################
##                public/fablabo/mediawiki-1.27.0 SKIN USING DEFAULT VECTOR SKIN                ##
##################################################################################################
##                                                                                              ##
##  Développé pour le site : FABLABO.NET (http://fablabo.net)                                   ##
##  par :                    Gaëtan CIEPLICKI (https://github.com/divag)                        ##
##  pour :                   PiNG (http://wwww.pingbase.net)                                    ##
##                                                                                              ##
##################################################################################################
##                                                                                              ##
##  Feuille CSS de la skin vectorfablabo, skin public/fablabo/mediawiki-1.27.0                  ##
##  qui étend la skin Vector.                                                                   ##
##                                                                                              ##
##################################################################################################
*/

/*
===========================
Layout générale :
===========================
*/

/* test image de fond */
/* body{ */
/*     background-image:url(/public/fablabo/mediawiki-1.27.0/skins/VectorFablabo/resources/images/porte.jpg); */
/*     background-size:cover; */
/*     background-repeat: no-repeat; */
/*     background-attachment: fixed; */
/* } */

#content{
    max-width: 700px;
    margin-top:1em;
}

div#left-navigation{
    margin-left:219px;
}

div#right-navigation{
    max-width:700px;
    position:relative;
    float:none;
    left:219px;
    margin-left:2.2em;
}

div#p-views,
div#p-cactions{
    float:right;
}

.ns-special #left-navigation{
    display:none;
}

.rootpage-Accueil #content,
.page-Machines #content{
    max-width: 900px;
}

.rootpage-Accueil #left-navigation,
.rootpage-Accueil #right-navigation,
.rootpage-Accueil #firstHeading{
    display:none;
}

#mw-head-base{
    max-width: 700px;
}

.mw-body{
    border:none;
}

div#content 
{
  min-height:500px;
  margin-left: 220px;
//  background-color:transparent;
  padding:1em;
  
  // -moz-border-image: url(/public/fablabo/mediawiki-1.27.0/skins/VectorFablabo/resources/images/page_border.png) 23 2 2 23 / 23px stretch stretch;
  // -webkit-border-image: url(/public/fablabo/mediawiki-1.27.0/skins/VectorFablabo/resources/images/page_border.png) 23 2 2 23 / 23px stretch stretch;
  // -o-border-image: url(/public/fablabo/mediawiki-1.27.0/skins/VectorFablabo/resources/images/page_border.png) 23 2 2 23 / 23px stretch stretch;
  // border-image: url(/public/fablabo/mediawiki-1.27.0/skins/VectorFablabo/resources/images/page_border.png) 23 2 2 23 / 23px stretch stretch;

  margin-top: -16px;
}

/* ------------------ */
/* Notifications      */

#content .mw-indicators{
    margin-top:0;
}

/*
===========================
Left Panel :
===========================
*/

div#mw-panel{
    top:0px;
    padding-top:3.5em;
    width:220px;
    padding-left:0;
}

div#p-logo{
    position:relative;
    top: 0px;
    float:left;
    padding:0;
    margin-bottom:1em;
}

#mw-head{
    height:2em;
    padding-top:0.5em;
    z-index:999;
}


div#mw-panel #p-logo + div.portal div.body{
    margin-top:14em;
}

div#p-personal.vf-top-bar{
    float: right;
    position:relative;
    top:0px;
    left:0px;
    width:35px;
    height:2em;
    margin-top:0;
}

div#p-personal ul{
    float:none;
    padding-left:0;
}

#p-search{
    float:right;
    position:relative;
}

form#searchform{
    margin-top:0;
}

div#simpleSearch{
    margin-top:0;
}

div#right-nagivation{
    width:700px;
}

#smw-form-editpage-help,
.smw-editpage-help{
    display:none;
}

.srf-container{
    position:absolute;
    left:10px;
}